<h1>BackOffice::Bundles#edit</h1>
<p>Find me in app/views/back_office/bundles/edit.html.erb</p>

<%= render 'form', card_bundle: @card_bundle %>

<%= link_to 'Show', [:back_office, @card_bundle] %> |
<%= link_to 'Back', back_office_card_bundles_path %>

