<%= render layout: "back_office/shared/turbo_sub_layout" do %>

    <div class="content-section">
        <h6 class="content-header"><%= t("forms.card_bundle.actions.update") %></h6>
        <%= render "form", card_bundle: @card_bundle %>
    </div>

    <div id="card-bundle-transactions">
        <%= render "transactions", card_bundle: @card_bundle %>
    </div>

<% end %>
