
<div class="docs-section">
    <h6 class="docs-header"><%= t("main_menu.bundles") %></h6>
    <%= render "form", card_bundle: @card_bundle %>
</div>


<%= link_to "Back", back_office_card_bundles_path %>
