<h1>BackOffice::Bundles#new</h1>
<p>Find me in app/views/back_office/bundles/new.html.erb</p>

<h1>New Card Bundle</h1>

<%= render 'form', card_bundle: @card_bundle %>

<%= link_to 'Back', back_office_card_bundles_path %>
