<p id="notice"><%= notice %></p>

<p>
    <strong>Bundle number:</strong>
    <%= @card_bundle.bundle_number %>
</p>

<%= link_to 'Edit', edit_back_office_card_bundle_path(@card_bundle) %> |
<%= link_to 'Back', back_office_card_bundles_path %>
