<div class="docs-section">
    <div class="one-half column">
        <h6 class="docs-header"><%= t("user_logins.header") %></h6>
        <%= render "form", user_login: @user_login %>
    </div>
</div>