<% if active_model_object.errors.any? %>
    <div class="form-errors-notification">
        <% active_model_object.errors.each do |error| %>
            <%= error.full_message %>
            <br/>
        <% end %>
    </div>
<% end %>
