<%= render layout: "layouts/turbo_sub_layout" do %>

    <div class="content-section">
        <h6 class="content-header"><%= t("forms.bundle.actions.create") %></h6>
        <%= render "form", bundle: @bundle %>
    </div>

<% end %>
