<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        html { font-family: sans-serif; }
        body { margin: 0 }
        .container {
            box-sizing: border-box;
            max-width: 600px;
            padding: 40px 0;
            margin: 40px auto;
        }

    </style>
</head>

<body>
<div class="container">

    <%= yield %>

</div>

</body>
</html>
