@import "vars";

// ============================================================================
// Notice
// ============================================================================

.notice-container {
    position: relative;
}

.flash {
    box-sizing: border-box;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    max-width: 60%;
    color: white;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 4px;
    opacity: 0.95;
}

.notice {
    background-color: $colour_success;
}

.alert {
    background-color: $colour_error;
}

// ============================================================================

.turbo-progress-bar {
    height: 5px;
    background-color: $blue;
}

// ============================================================================
// Popover
// ============================================================================

.popover {
    z-index: 100;
}

.popover.open {
    display: block;
}

[data-controller="popover"] {
    position: relative;
}

.popover {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    //left: -50%;
    filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }
.popover .popover-item:first-child .popover-link:after,
.popover .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
.popover .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
.popover .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px; }
.popover-list {
    padding: 0;
    margin: 0;
    list-style: none; }
.popover-item {
    padding: 0;
    margin: 0; }
.popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; }
.popover-text {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    font-size: 1.25rem;
    white-space: nowrap; }
.popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0; }
.popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0; }
.popover-link:hover {
    color: #fff;
    background: #33C3F0; }
.popover-link:hover,
.popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0; }

// ============================================================================


div.table {
    display: table;
}
div.tr, turbo-frame.tr {
    display: table-row;
    width: 100%;
}
div.td, div.th {
    display: table-cell;
}
div.thead {
    display: table-header-group;
}
div.tbody {
    display: table-row-group;
}
