@import "vars";
form {
    div { }

    .form-actions {
        margin-top: 3rem;
        .button {
            margin-right: 1rem;
        }
        .button-danger {
            background-color: $colour_error;
            color: white;
        }
    }

    .form-actions.danger { }

    .field_with_errors {
        padding: 2px;
        display: inline;

        input, select {
            border-color: $colour_error
        }
    }

    .form-errors-notification {
        color: $colour_error;
        margin-bottom: 1rem;

    }

    input:disabled, select:disabled, button:disabled {
        color: $light_light_gray
    }

    input[type="submit"]:disabled,  {
        background-color: $light_light_gray;
        border-color: $light_light_gray;
    }

}

form.disabled {
    label {
        color: $light_light_gray;
    }
    input[type="submit"]:focus {

    }
}
