
.row-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;

    input, button, select {
        margin-bottom: 0;
    }

    input[type="submit"] {
        margin-bottom: 2px;
    }

    div {
        margin-right: 2em;
    }
}